:root{
  --primaryColor: white;
  --secondaryColor: #ababab;
  --cardSecondaryColor: #444;
  --highlightingColor: #4b6cc1;
  --sectionWidth: 8%;
  --navHeight: 70px;
  --footerHeight: 134px;
  }
  // body{
  //   --sSize: 550px;
  //   --mSize: 750px;
  //   --lSize: 1000px;
  // }